#button1{
    width: 9em;
    height: 6em;
    color: white;
    background-color: black;
    margin: 2em;
    text-align: center;
    vertical-align: middle;
}

#button2{
    width: 9em;
    height: 6em;
    color: white;
    background-color: black;
    margin: 2em;
    text-align: center;
    vertical-align: middle;
}


.dice {
    width: 8em;
    height: 8em;
    background-color: white;
    color: black;
    float: left;
    margin: 1em;
    text-align: center;
    vertical-align: middle;
    border: 3px solid black;
}